Lligues/validar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Lliga">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equips">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="equip" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nom"/>
                    <xs:element type="xs:byte" name="guanyats"/>
                    <xs:element type="xs:byte" name="empatats"/>
                    <xs:element type="xs:byte" name="perduts"/>
                    <xs:element type="xs:byte" name="punts"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>